In [1]:
import pandas as pd

In [5]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
bike_data='201906-citibike-tripdata.csv'
bike_df= pd.read_csv(bike_data)

In [6]:
# 2. Check the datatypes of your columns. 
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2125370 entries, 0 to 2125369
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(4), int64(6), object(5)
memory usage: 243.2+ MB

In [7]:
# 3. Convert the 'tripduration' column to datetime datatype.
bike_df['tripduration']= pd.to_datetime(bike_df['tripduration'],unit='s')
bike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1970-01-01 00:05:30,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1
1,1970-01-01 00:13:50,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2
2,1970-01-01 00:06:20,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2
3,1970-01-01 00:19:15,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1
4,1970-01-01 00:17:35,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1

In [8]:
# 4. Check the datatypes of your columns. 
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2125370 entries, 0 to 2125369
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             datetime64[ns]
 1   starttime                object
 2   stoptime                 object
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: datetime64[ns](1), float64(4), int64(5), object(5)
memory usage: 243.2+ MB

In [9]:
# 5. Export the Dataframe as a new CSV file without the index.
file = '201908-bike-tripdata.csv'
bike_df.to_csv(file,index=False)